body {
    border: 1px solid #ddd;
    width: 300px;
    padding: 10px;
   
    box-shadow: 5px 10px 5px 3px #dddddde6;
   
}
.image  {
    width: 100%;
}
span {
    font-weight: bold;
     
}
.data {
    border:1px solid rgba(230, 230, 230, 0.9);
    width: auto;
    padding: 10px;
    margin-top: 15px;
    
    
}
h3 {
    font-size: 30px;
}

ul,li {
    list-style-type: none;
    margin: 0;
    padding:0;
    }





